
/* Añadi una clase que aplicara sus propiedades de manera totalmente general */
*{
    font-size: 16px;
    color: #2C5364;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Estableci un margin de valor 0 para poder aplicar las propiedades 
de manera sencilla sin valores por defecto  */

p{
    margin: 0;
}

/* Inclui una variable para definir el color de los bordes de las cajas visibles */

:root{
    --borde-color: #F8FFAE;
}


body{
    width: 100%;
    padding: 20px 15rem;
    margin: 0;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
}

/* Estableci una caja para poder modificar los elementos dentro de manera sencilla */

.content{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
}

/* ELementos Header */

header{
    height: 20%;
    border: solid var(--borde-color) 5px;
    padding: 15px;
    margin-bottom: 27px;
    display: flex;
    flex-wrap: wrap;
}

header h2{
    font-size: 25px;
    margin: 0;
    margin-bottom: 5px;
    width: 65%;
    display: flex;
    align-items: center;
    font-weight:bolder;
    text-shadow: 0.1em 0.1em 0.05em var(--borde-color);
}

.box-image{
    height: 40%;
    width: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.image-profile{
    height: 100%;
    width: 50%;
    border-radius: 5%;
}

.second-text-profile{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 900;
}

/* Final de elementos Header */

/* Elementos de Main */

main{
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact-forms{
    height: 15%;
    width: 100%;
    border: solid var(--borde-color) 5px;
    padding: 15px;
    margin-bottom: 2.5%;
}

#text-ubication{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--borde-color);
}

.text-edition{
    font-weight: 900;
}

.experience{
    height: 25%;
    width: 100%;
    margin-bottom: 2.5%;
}

fieldset{
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: solid var(--borde-color) 5px;
}

legend{
    color: var(--borde-color);
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.05em #2C5364;
}

.text-dif{
    margin-bottom: 5px;
    font-weight: 900;
}

.box-30{
    width: 30%;
    height: 90%;
}

.box-70{
    width: 70%;
    height: 90%;
}

ul{
    margin: 0;
    padding-inline-start: 20px;
}


.education{
    height: 21.2%;
    width: 100%;
    margin-bottom: 2.5%;
}

/* Dos clases de texto para colocarlos a la misma altura */

.text-r-m{
    font-weight: 900;
    margin-bottom: 30px;
}

.text-r-m-two{
    font-weight: 900;
    margin-bottom: 12px;
}



.idioms{
    height: 30%;
    width: 40%;
    margin-bottom: 2.5%;
    margin-right: 1.5%;
}


.text-idioms{
    font-weight: 900;
    margin: 10px 0;
}

.skills{
    height: 30%;
    width: 58.5%;
    margin-bottom: 2.5%;
}

/* Fin de elementos de Main */

footer{
    height: 12%;
}

