*{
    font-size: 14px;
    color: black;
    box-sizing: border-box;
}

p{
    margin: 0;
}


body{
    width: 100%;
    padding: 20px 15rem;
    margin: 0;
}

.content{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
}


header{
    height: 15%;
    border: solid black 1px;
}

main{
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
}

.contact-forms{
    height: 15%;
    width: 100%;
}

.experience{
    height: 25%;
    width: 100%;
}

fieldset{
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

ul{
    margin: 0;
    padding-inline-start: 20px;
}

.box-30{
    width: 30%;
    height: 90%;
}

.box-70{
    width: 70%;
    height: 90%;
}


.education{
    height: 30%;
    width: 100%;
}


.idioms{
    height: 30%;
    width: 50%;
}

.skills{
    height: 30%;
    width: 50%;
}

footer{
    height: 12%;
}